<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" %}

    <title>Veo</title>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <style>
        #chartdiv {
            width: 95%;
            height: 250px;
        }
        .chart-stadistics {
            height: 255px;
        }
    </style>
</head>
<body>
{% include "includes/header_navbar.html" %}

<!-- Tabs -->
<ul class="tabs">
    <li class="tab col s3"><a class="tab-btn active" href="#home_portada">Portada</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#home-movies-pending">Películas Pendientes</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#home-shows-active">Series Activas</a></li>
</ul>

<main class="main-home">
    <section id="home_portada" class="col s12 row no-margin ">
        <article id="recommended" class="col s12 no-padding"></article>
        <article id="recient-activity" class="col s12 no-padding"></article>
        <article class="col s12 title-section">
            <h4>Actividad</h4>
        </article>
        <article class="chart-stadistics col s12">

            <script>
                am4core.ready(function() {
                    am4core.useTheme(am4themes_animated);

                    var chart = am4core.create("chartdiv", am4charts.XYChart);

                    var data = [];
                    {% for activity in activitys_veo %}
                        data.push({date:new Date({{ activity.year }}, {{ activity.month }}, {{ activity.day }}), value: {{ activity.n_activitys }} });
                    {% endfor %}

                    chart.data = data;


                    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.renderer.minGridDistance = 60;

                    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());


                    var series = chart.series.push(new am4charts.LineSeries());
                    series.dataFields.valueY = "value";
                    series.dataFields.dateX = "date";
                    series.tooltipText = "{value}"
                    series.tensionX = 0.77;
                    series.tooltip.pointerOrientation = "vertical";


                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.snapToSeries = series;
                    chart.cursor.xAxis = dateAxis;

                });
            </script>

            <!-- HTML -->
            <div id="chartdiv"></div>
        </article>
    </section>

    <section id="home-movies-pending" class="col s12 row no-margin"></section>
    <div id="home-shows-active" class="col s12 row no-margin"></div>
</main>

<div class="gif-loading">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

{% include "includes/bottom_navbar.html" %}
{% include "includes/body_end.html" %}

<script>

    $(document).ready(function(){
        $('#title').text("Hola {{ user.first_name }}");
        $('#nav-home').addClass("nav-active");

        {% if profile.celularDataSavings == True %} localStorage.setItem("width_poster", "200"); {% else %} localStorage.setItem("width_poster", "400"); {% endif %}

        /* ---------------------------------- PERSONAL DATABASE ----------------------------------------------------- */

        // Mis Películas por ver
        MyMoviesToSee('#home-movies-pending', {% if profile.celularDataSavings == True %} 200 {% else %} 400 {% endif %});

        // Mis Series activas
        MyActiveShows('#home-shows-active', {% if profile.celularDataSavings == True %} 200 {% else %} 400 {% endif %});

        Recommendations({% if profile.celularDataSavings == True %} 200 {% else %} 400 {% endif %});
        setInterval(function(){
            Recommendations({% if profile.celularDataSavings == True %} 200 {% else %} 400 {% endif %});
        }, 15000);

        MyFollowingsRecientActivity('#recient-activity');
    });

</script>

</body>
</html>