<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" %}

    <title>Veo | Inicio</title>

</head>
<body>
{% include "includes/header_navbar.html" %}

<!-- Tabs -->
<ul class="tabs">
    <li class="tab col s3"><a class="tab-btn active" href="#home_portada">Portada</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#home-movies-pending">Películas Pendientes</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#home-shows-active">Series Activas</a></li>
</ul>

<main class="no-padding">
    <section id="home_portada" class="col s12 row no-margin ">
        <article id="recommended" class="col s12 no-padding brightness-fade">

        </article>
    </section>

    <section id="home-movies-pending" class="col s12 row no-margin"></section>
    <div id="home-shows-active" class="col s12 row no-margin"></div>
</main>

<div class="gif-loading">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

{% include "includes/bottom_navbar.html" %}
{% include "includes/body_end.html" %}

<script>

    $(document).ready(function(){
        $('#title').text("Hola {{ user.first_name }}");
        $('#nav-home').addClass("nav-active");

        /* ---------------------------------- PERSONAL DATABASE ----------------------------------------------------- */

        // Mis Películas por ver
        MyMoviesToSee('{{ csrf_token }}', '#home-movies-pending');

        // Mis Series activas
        MyActiveShows('{{ csrf_token }}', '#home-shows-active');

        Recommendations();
{#        setInterval(function(){#}
{#            Recommendations();#}
{#        }, 5000);#}
    });

</script>

</body>
</html>