<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" %}

    <title>Veo | Lista</title>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

</head>
<body>

<header>
    <nav class="header-navBar">

        <div class="nav-wrapper search-field">
            <form id="search">
                <div class="input-field">
                    <input id="txt-search" type="search" placeholder="Introduce el título a buscar" autofocus required>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>

        <div class="header-title">
            <h1 id="title">{{ list.name }}</h1>
        </div>

        <div class="img-profile-container">
            {% if profile_list.image == null %}
                <div class="img-profile-container">
                    <div class="img-profile"><img src="{{ profile_list.avatar.src }}" /></div>
                </div>
            {% else %}
                <div class="img-profile-container">
                    <div class="img-profile image" style="background-image: url(/{{ profile_list.image }})"></div>
                </div>
            {% endif %}
        </div>

        <div class="search-container">
            <a>
                <i class="material-icons">search</i>
            </a>
        </div>

    </nav>
</header>
<!-- Tabs -->
<ul class="tabs">
    <li class="tab col s3"><a class="tab-btn active" href="#list_movies">Películas</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#list_shows">Series</a></li>
</ul>

<main class="main-home">
    <section id="list_movies" class="col s12 row no-margin">
        {% if list.movies.all|length > 0 %}
            {% for movie in list.movies.all %}
                <div class="38700 poster-item list col s4 m3 l2 no-padding">
                    <img onclick="infoFor('movie', {{ movie.id_movie }})" src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}">
                    {% if profile == profile_list %}
                        <i onclick="deleteFromList(this, 1, {{ list.id }}, {{ movie.id_movie }})" class="material-icons delete-from-list">delete</i>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p class="infoPeticion">Ninguna película añadida</p>
        {% endif %}
    </section>

    <section id="list_shows" class="col s12 row no-margin">
        {% if list.shows.all|length > 0 %}
            {% for show in list.shows.all %}
                <div class="38700 poster-item list col s4 m3 l2 no-padding">
                    <img onclick="infoFor('show', {{ show.id_show }})" src="https://image.tmdb.org/t/p/w200{{ show.poster_path }}">
                    {% if profile == profile_list %}
                        <i onclick="deleteFromList(this, 2, {{ list.id }}, {{ show.id_show }})" class="material-icons delete-from-list">delete</i>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p class="infoPeticion">Ninguna serie añadida</p>
        {% endif %}
    </section>
    <a  class="btn-floating btn-large waves-effect waves-light red btn-floating-bottom modal-trigger danger-color" href="#modalRemoveList"><i style="margin-top: -2px;" class="material-icons">delete</i></a>

    <!-- Modal Structure -->
    <div id="modalRemoveList" class="modal">
        <div class="modal-content">
            <h4>{{ list.name }}</h4>
            <p>¿Eliminar esta lista?</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a onclick="removeList({{ profile.user.id }}, {{ list.id }})" class="modal-close waves-effect waves-green btn-flat">Eliminar</a>
        </div>
    </div>
</main>

<div class="gif-loading">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

<!-- Loading Gif -->
<section class="loading-container">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</section>

{% if profile == profile_visited %}
    {% include "includes/bottom_navbar.html" %}
{% else %}
    <!-- Button navbar-->
    <footer>
        <nav class="bottom-navBar row no-margin">
            <a href="/" id="nav-home">
                <i class="material-icons">home</i>
                <p>Inicio</p>
            </a>
            <a href="/movies" id="nav-movies" onclick="localStorage.setItem('active_tab', '#movies_popularity')">
                <i class="material-icons">movie</i>
                <p>Películas</p>
            </a>
            <a href="/shows" id="nav-shows" onclick="localStorage.setItem('active_tab', '#shows_popularity')">
                <i class="material-icons">subscriptions</i>
                <p>Series</p>
            </a>
            <a href="/social" id="nav-social">
                <i class="material-icons">group</i>
                <p>Social</p>
                {% if unread_recommendations > 0 %}
                    <div class="recommendations-unread">{{ unread_recommendations }}</div>
                {% endif %}
            </a>
            <a href="/profile/{{ profile.user.id }}/" id="nav-profile">
                <i class="material-icons">person</i>
                <p>Perfil</p>
            </a>
        </nav>
    </footer>
{% endif %}

{% include "includes/body_end.html" %}

<script>

    $(document).ready(function(){
        $('#nav-profile').addClass("nav-active");
        {% if profile.celularDataSavings == True %} localStorage.setItem("width_poster", "200"); {% else %} localStorage.setItem("width_poster", "400"); {% endif %}

        /* ---------------------------------- PERSONAL DATABASE ----------------------------------------------------- */
        $('.gif-loading').fadeOut(100);
        $("main").addClass("main-active");

        resizePosters();
    });

</script>

</body>
</html>