<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" %}

    <title>Veo | Películas</title>

</head>
<body>
{% include "includes/header_navbar.html" %}

<!-- Tabs -->
<ul class="tabs">
    <li class="tab col s3"><a class="tab-btn active" href="#movies_popularity">Populares</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#movies_vote_count">Mas Votadas</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#movies_theatres">En cines</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#movies_pending">Pendientes</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#movies_seen">Vistas</a></li>
</ul>

<main>
    <section id="movies_popularity" class="col s12 row no-margin"></section>
    <section id="movies_vote_count" class="col s12 row no-margin"></section>
    <section id="movies_theatres" class="col s12 row no-margin"></section>
    <section id="movies_pending" class="col s12 row no-margin"></section>
    <section id="movies_seen" class="col s12 row no-margin"></section>
</main>

<div class="gif-loading">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

{% include "includes/bottom_navbar.html" %}
{% include "includes/body_end.html" %}

<script type="text/javascript" src="/static/js/movies_request.js"></script>

<script>

    $(document).ready(function(){
        $('#title').text("Películas");
        $('#nav-movies').addClass("nav-active");

        $('.search-field form').attr("action", "/search");

        // Mis Películas por ver
        MyMoviesToSee('{{ csrf_token }}', '#movies_pending');

        // Mis Películas Vistas
        MyMoviesSeen('{{ csrf_token }}', '#movies_seen');
    });

</script>

</body>
</html>