<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" %}

    <title>Veo | Película</title>
</head>
<body>
<header>
    <nav class="header-navBar">

        <div class="header-title no-padding-sides">
            <h1 id="title"></h1>
        </div>

        <div class="btn-back-list">
            <div><i class="material-icons">keyboard_arrow_left</i></div>
        </div>

    </nav>
</header>

<!-- Tabs -->
<ul class="tabs">
    <li class="tab col s3"><a class="tab-btn active" href="#information">Información</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#related">Similares</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#recommendations">Recomendadas</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#images">Imágenes</a></li>
</ul>

<main class="main-info">
    <div id="information" class="col s12">
        <div class="backdrop-container">
            <div id="backdrop-image"></div>
            <img id="poster-img" class="col s3" />
            <a class="btn-trailer waves-effect waves-light btn" target="_blank"><i class="material-icons left">theaters</i>Ver Tráiler</a>

            <div class="fixed-action-btn ">
                <a class="btn-floating btn-large red">
                    <i class="large material-icons">person_add</i>
                </a>
                <ul>
                    <li><a class="btn-floating green"><img class="seen" src="/static/images/not_seen.png" onclick="setMovieToSeen(this, '{{ csrf_token }}')" /></a></li>
                    <li><a class="btn-floating pink lighten-1"><i class="material-icons toSee" onclick="addMovieToSee(this, '{{ csrf_token }}')">playlist_add</i></a></li>
                </ul>
            </div>


        </div>
        <div class="primary-information">
            <p id="sinopsis"></p>
        </div>

        <div class="secondary-information row no-margin">
            <div id="genres" class="col s12 row no-margin"></div>
            <h4 id="date-release" class="col s12"></h4>
            <div class="average-container col s12 row no-margin">
                <div id="average-count-num" class="col s1"></div>
                <div class="col s11 no-padding">
                    <div class="average-count-container">
                        <div id="average-count-bar"></div>
                    </div>
                </div>

            </div>
        </div>

        <div id="collection" class="col s12 row no-margin"></div>

        <h3 class="col s12 title-section">Reparto</h3>
        <div class="cast-container col s12">
            <div id="cast" class="col s12 row no-margin"></div>
        </div>
    </div>

    <div id="related" class="col s12 row no-margin"></div>
    <div id="recommendations" class="col s12 row no-margin"></div>
    <div id="images" class="col s12 row no-margin"></div>
</main>

<div class="gif-loading">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

{% include "includes/bottom_navbar.html" %}
{% include "includes/body_end.html" %}

<script>
    $(document).ready(function(){
        $('#nav-movies').addClass("nav-active");

        {% if profile.celularDataSavings == True %} localStorage.setItem("width_poster", "200"); {% else %} localStorage.setItem("width_poster", "400"); {% endif %}

        // Información de la Película
        InformationMovie({{id}}, {"language":"es-ES"}, {% if profile.colorGenres == True %}true{% else %}false{% endif %}, '{{ csrf_token }}');
    });
</script>

</body>
</html>