<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" %}

    <title>Veo | Búsqueda</title>

</head>
<body>
{% include "includes/header_navbar.html" %}

<!-- Tabs -->
<ul class="tabs">
    <li class="tab col s3"><a id="lblResultsTab" class="tab-btn active" href="#results">Resultados</a></li>
</ul>

<main>
    <section id="results" class="col s12 row no-margin">
        <article id="person-results"></article>
        <article id="movie-show-results"></article>
    </section>
</main>

<div class="gif-loading">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

{% include "includes/bottom_navbar.html" %}
{% include "includes/body_end.html" %}

<script>

    $(document).ready(function(){
        var title = "{{ query }}".replace(/_/g, " ");
        var first_char = title.charAt(0).toUpperCase();
        var less_title = title.substring(1);

        $('#title').text("Búsqueda");
        $('#lblResultsTab').text(first_char + less_title);

        /* --------------------------------- THE MOVIE DATABASE ----------------------------------------------------- */

        // Petición de búsqueda múltiple
        Search("{{ query }}")
    });

</script>

</body>
</html>