<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" %}

    <title>Veo | Películas</title>

</head>
<body>
{% include "includes/header_navbar.html" %}

<!-- Tabs -->
<ul class="tabs">
    <li class="tab col s3"><a class="tab-btn active" href="#shows_popularity">Populares</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#shows_vote_count">Mejor Votadas</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#shows_seeing">Viendo</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#shows_forgotten">Olvidadas</a></li>
</ul>

<main>
    <section id="shows_popularity" class="col s12 row no-margin"></section>
    <section id="shows_vote_count" class="col s12 row no-margin"></section>
    <section id="shows_seeing" class="col s12 row no-margin">Todas las series que estoy viendo actualmente (Fecha modificacion reciente)</section>
    <section id="shows_forgotten" class="col s12">Todas las series que estaba viendo pero las aparque</section>
</main>

{% include "includes/bottom_navbar.html" %}
{% include "includes/body_end.html" %}

<script type="text/javascript" src="/static/js/shows_request.js"></script>

<script>

    $(document).ready(function(){
        $('#title').text("Series");
        $('#nav-shows').addClass("nav-active");

        $('.search-field form').attr("action", "/search");
    });

</script>

</body>
</html>