<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" %}

    <title>Veo | Serie</title>

</head>
<body>
<header>
    <nav class="header-navBar">
        <div class="header-title no-padding-sides">
            <h1 id="title"></h1>
        </div>

        <div class="btn-back-list">
            <div><i class="material-icons">keyboard_arrow_left</i></div>
        </div>
    </nav>
</header>

<!-- Tabs -->
<ul class="tabs">
    <li class="tab col s3"><a class="tab-btn active" href="#information">Información</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#related">Similares</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#recommendations">Recomendadas</a></li>
    <li class="tab col s3"><a class="tab-btn" href="#images">Imágenes</a></li>
</ul>

<main class="main-info">
    <div id="information" class="col s12">
        <div class="backdrop-container">
            <div id="backdrop-image"></div>
            <img id="poster-img" class="col s3" />
            <a class="btn-trailer waves-effect waves-light btn" target="_blank"><i class="material-icons left">theaters</i>Ver Tráiler</a>
        </div>
        <div class="primary-information">
            <p id="sinopsis"></p>
        </div>

        <div class="secondary-information row no-margin">
            <div id="genres" class="col s12 row no-margin no-padding"></div>
            <h4 id="date-release" class="col s12"></h4>
            <div class="average-container col s12 row no-margin">
                <div id="average-count-num" class="col s1"></div>
                <div class="col s11 no-padding">
                    <div class="average-count-container">
                        <div id="average-count-bar"></div>
                    </div>
                </div>

            </div>
        </div>

        <div id="seasons" class="row no-margin">
            <h3 class="title-section">Temporadas</h3>
            <div class="col s12 row no-margin" id="seasons-posters-list"></div>
        </div>

        <div id="last-episode-air" class="row col s12 no-margin"></div>

    </div>

    <div id="related" class="col s12 row no-margin"></div>
    <div id="recommendations" class="col s12 row no-margin"></div>
    <div id="images" class="col s12 row no-margin"></div>

</main>

{% include "includes/bottom_navbar.html" %}
{% include "includes/body_end.html" %}

<script>
    $(document).ready(function(){
        $('#nav-shows').addClass("nav-active");

        // Información de la Serie
        InformationShow({{id}}, {"language":"es-ES"}, {% if profile.colorGenres == True %}true{% else %}false{% endif %});
    });
</script>

</body>
</html>