/* ------------- FUENTES -------------------- */
@font-face {
    font-family: Google-Sans;
    src: url(/static/fonts/Product_Sans_Regular.ttf);
}

@font-face {
    font-family: Google-Sans-Bold;
    src: url(/static/fonts/Product_Sans_Bold.ttf);
}

/* --------------- MATERIALIZE CUSTOM ---------- */
.carousel .carousel-item {
    width: 100%;
}

.tabs {
    z-index: 3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
}

.tabs .tab {
    text-transform: capitalize;
}

.fadeIn {
    animation: fadeIn .5s;
}

.collapsible {
    border: none;
    box-shadow: none;
}

/* ------------- ANIMACIONES ------------ */
@keyframes fadeIn  {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes scaleGelly-on {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleGelly-off {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0);
    }
}

/* Eye movement for login */
@keyframes eye_movement {
    0%   {top: 66px;left:42px;}
    5%   {top: 66px;left:42px;}
    9%   {top: 71px;left:38px;}
    15%  {top: 71px;left:38px;}
    15%  {top: 71px;left:38px;}
    19%  {top: 72px;left:41px;}
    26%  {top: 72px;left:41px;}
    30%  {top: 71px;left:46px;}
    36%  {top: 71px;left:46px;}
    40%  {top: 69px;left:42px;}
    46%  {top: 69px;left:42px;}
    50%  {top: 63px;left:42px;}
    58%  {top: 63px;left:42px;}
    62%  {top: 60px;left:38px;}
    68%  {top: 60px;left:38px;}
    72%  {top: 60px;left:45px;}
    76%  {top: 60px;left:45px;}
    82%  {top: 66px;left:36px;}
    96%  {top: 66px;left:36px;}
    100% {top: 66px;left:42px;}
}

/* ----------------- GENERAL --------------- */
.all-height {
    height: 100%;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.hidden {
    display: none;
}

.box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14)
}

.shadow {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

a:hover {

}