/* ------------- SESSION STYLES -----------*/
.iconLoginVeoContainer {
    width: 100px;
    height: 131px;
}
.iconLoginVeo {
    background-image: url(/static/images/veoBasic.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 131px;
    position: relative;
}
.veoBrightness {
    position: absolute;
    top: 63px;
    left: 37px;
    width: 16px;
    height: 16px;
    z-index: 2;
}
.veoEye {
    position: absolute;
    top: 66px;
    left: 42px;
    width: 20px;
    height: 20px;
    z-index: 1;
    animation: eye_movement 7s infinite;
}

.form-login-container .input-field  {
    margin-top: 10px;
    margin-bottom: 10px;
}

.session-main {
    height: 100%;
    display: flex;
    align-items: center;
}

.session-main .top-session {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.session-error {
    color:#2196f3;
    text-align: center;
    margin-bottom: 20px;
}

.btn-submit-login button {
    border-radius: 20px;
}

.account-change-mode {
    text-align: center;
}

.account-change-mode a {
    font-family: Google-Sans-Bold;
}

/* ------------- MAIN STYLES ------------- */
* {
    font-family: Google-Sans;
}

/* HEADER NAVBAR */
.header {
    position: relative;
}

nav.header-navBar .search-field {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: white;
}

#search {
    font-family: Google-Sans;
}

nav.header-navBar .search-field i {
    right: 20px !important;
    margin-top: 13px;
}

header .header-navBar {
    height: 80px;
    position: relative;
    box-shadow: none;
    display: flex;
}

.img-profile-container, .header-title, .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-navBar .img-profile-container {
    z-index: 1;
    width: 80px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
}

.img-profile:hover {
    cursor: pointer;
}

header .header-navBar .img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*background-image: url(/static/images/favicon.png);*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    box-shadow: 0px 0px 5px 0px #b9b9b9;
}

.img-profile img {
    width: 100%;
    height: auto;
}

.header-title {
    position: absolute;
    width: 100%;
    height: 80px;
}

.header-title h1 {
    font-size: 1.8em;
    color: #3e3e3e;
    margin: 0;
    max-width: calc(100% - 180px);
}

.search-container {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 3px;
    width: 60px;
    display: flex;
    justify-content: center;
}

.search-container i {
    font-size: 25px !important;
}

.search-container i:hover {
    cursor:pointer;
}

.tabs-fixed {
    position: fixed;
    top: -1px;
    left: 0;
    right: 0;
}

/* Navbar Movie */
.header-navBar .btn-back-list {
    z-index: 1;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navBar .btn-back-list i {
    font-size: 40px;
}

/* ---------------------- MAIN ---------------------- */
main {
    opacity: 0;
    padding: 10px;
    padding-bottom: 66px !important;
}

.main-active {
    animation: fadeIn .15s;
    opacity: 1;
}

.main-home {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.main-info {
    padding: 0;
}
.max750 {
    max-width: 750px;
    margin: auto;
}

.main-tabs {
    padding-top: 58px;
    padding-bottom: 56px;
}

.main-tabs-info {
    padding-top: 48px;
    padding-bottom: 69px;
}

.home-main-tabs {
    padding-top: 48px;
    padding-bottom: 56px;
}

/* CSS Loading */
.gif-loading {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}



/* --------------------- BOTTOM NAVBAR ---------------------- */
footer nav {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

footer {
    height: 56px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

footer .bottom-navBar i {
    height: 0px;
    line-height: 40px;
}

footer .bottom-navBar p {
    margin-top: 1em;
}

footer .bottom-navBar > a {
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* ------------ SETTINGS ----------- */
#settings {
    display: none;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    min-height: 100%;
}

.header-settings {
    position: fixed;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05);
}

.header-settings h2 {
    margin: 26px;
    font-size: 2em;
}

.close-settings-container {
    position: absolute;
    top: 22px;
    right: 12px;
    cursor: pointer;
}

.close-settings-container i {
    font-size: 35px;
}

.log-out-container {
    padding-top: 10px;
}

.log-out {
    padding: 10px;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
}

.log-out a {
    border-radius: 20px;
}

.avatars-container {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 10px;
}

.avatar {
    padding: 10px;
}

.avatar.active {
    transform: scale(1.2);
    pointer-events: none;
}

.avatar img {
    width: 60px;
    border-radius: 50%;
}


.themes-container {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
}

.switch label {
    font-size: 1.1rem;
}

#settings .main-settings {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 82px;
}

.theme {
    position: relative;
    padding: 10px !important;
    width: 100px;
    min-width: 100px;
    height: 100px;
}

.theme .color-background {
    position: relative;
    width: 100%;
    border-radius: 25px;
}

.theme .color-background:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

.active-theme {
    transform: scale(1.1);
}

.theme .color-accent {
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 8px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 13px -1px rgba(29, 29, 29, 0.749019607);
}


/* ------------------ HOME STYLES ------------------- */
#recommended {
    height: 235px;
    position: relative;
}

#recommended .backdrop-recommend {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: 0;
}

.recommended-info {
    padding-top: 20px !important;
    padding-right: 20px !important;
}

.recommended-info h1 {
    color: white;
    text-shadow: 0px 0px 9px black;
    font-size: 1.8em;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 10px;
}

.recommended-info p {
    color: white;
    text-shadow: 0px 0px 9px black;
    text-align: justify;
    max-height: 150px;
    overflow: auto;
}

#home-movies-pending, #home-shows-active {
    padding: 10px;
}

.circle-average {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.circle-average p {
    position: absolute;
    text-shadow: 0px 0px 9px black;
    margin: 0;
    top: 17px;
    left: 0;
    right: 16px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

.circular-chart {
    display: block;
    max-width: 80%;
    max-height: 250px;
}

.circle {
    fill: none;
    transform: scale(1);
    stroke-width: 3.3px;
    stroke-linecap: round;
    animation: progress .5s ease-out forwards;
}


@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

#recient-activity {
    padding: 10px !important;
}


/* ------------------ MOVIES STYLES ------------------- */
.infoPeticion {
    font-size: 15px;
    margin: 20px;
}

.poster-item.list {
    padding: 3px !important;
    position: relative;
}

.poster-item:hover {
    transition: .2s;
    transform: scale(1.01);
    filter: brightness(1.1);
    cursor: pointer;
}

.poster-item.list img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.poster-item.recommended {
    height: 275px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.cast-container {
    padding-left: 10px;
    padding-right: 10px;
}

#cast {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
}

.actor {
    position: relative;
    margin: 3px;
    margin-right: 12px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.actor img {
    flex: 1 1 auto;
    width: 80px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.footer-actors {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    padding: 3px;
    padding-top: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.footer-actors h1 {
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 4px;
    font-family: Google-Sans;
    color: black;
}

.footer-actors h2 {
    font-size: 9px;
    margin: 0;
    font-family: Google-Sans;
    color: black;
}

#related, #recommendations {
    padding: 10px;
}

#images {
    padding: 10px;
    padding-top: 13px;
}

#images img {
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
}

/* ------------------ MOVIE STYLES ------------------- */
.backdrop-container {
    position: relative;
}

#backdrop-image {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05);
}

#poster-img {
    width: 100px;
    position: absolute;
    left: 1em;
    bottom: -30px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn-trailer {
    display: none;
    font-family: Google-Sans;
    width: 200px;
    position: absolute;
    right: 1em;
    bottom: -18px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}


.primary-information {
    padding: 10px;
    padding-top: 40px;
}

#sinopsis {
    margin: 0;
    text-align: justify;
}

#genres {
    display: flex;
    flex-flow: wrap;
    margin-top: 15px !important;
    margin-bottom: 10px !important;
}

.genre {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    border-radius: 30px;
    color: white;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.secondary-information {
    padding: 10px;
}

#date-release {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: 13px;
}

#average-count-num {
    font-size: 1.5em;
    min-width: 50px;
    font-weight: bold;
}

.average-container {
    display: flex;
    align-items: center;
}

.average-count-container {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

#average-count-bar {
    border-radius: 4px;
    background-color: #2196f3;
    height: 10px;
}

.title-section {
    font-size: 1.6rem;
    margin: 10px;
}

#collection {
    padding: 10px;
    margin-bottom: 20px !important;
}

#collection h3 {
    margin-left: 0px;
}

.fixed-action-btn {
    animation: scaleGelly-on .3s;
}

.fixed-action-btn-hidden {
    animation: scaleGelly-off .3s;
    transform: scale(0);
}

.btn-floating.btn-large {
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-floating {
    transition: .15s;

}

.backdrop-container .fixed-action-btn {
    position: absolute;
    top: 16px;
    right: 13px;
    bottom: auto;
    z-index: 1;
}

.btn-floating.sub {

}

.toSee {
    padding-left: 4px;
}

.seen {
    width: 26px;
    height: 33px;
    margin: auto;
    display: block;
    padding-top: 7px;
}

/* ------------- SHOW --------------- */
#seasons-posters-list {
    padding: 10px;
}

.item-season {
    position: relative;
}

.item-season .collapsible-body {
    position: absolute;
    bottom: 0;
    background-color: white;
}


.header-season {
    padding-top: 10px !important;
}

.season-poster {
    width: 100%;
    border-radius: 6px;
}

.season-poster img {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.season-details {
    border-radius: 6px;
    padding: 10px;
    display: none;
    overflow: auto;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
}

.close-season-details {
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-season-details i {
    font-size: 28px !important;
}

.season-overview {
    text-align: justify;
    max-height: 170px;
    overflow: auto;
}

.episode-overview {
    text-align: justify;
}

.last-episode-span {
    position: absolute;
    right: 20px;
}

#last-episode-air {
    padding: 10px;
}

.date-last-episode {
    font-weight: bold;
}

.last-episode-number {
    text-align: right;
}

.last-episode-overview {
    text-align: justify;
}

.season-info h5 {
    padding-right: 35px !important;
}

.date-season {
    margin: 0;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3px;
}

.num-episodes-season {
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
}

/* -------------------------------------- SOCIAL PAGE --------------------------------------------------------------- */
.activity-item {
    margin-bottom: 5px;
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
}

.information-activity {
    flex: 1;
    padding: 5px;
    padding-left: 10px;
}

.poster-activity img {
    border-radius: 3px;
    width: 50px;
}

.date-activity p {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}

.description-activity p {
    margin: 0;
}

.user-avatar-activity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar-activity img {
    width: 40px;
}

/* ----------- PEOPLE ------------ */
.user-item {
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.information-profile {
    flex: 1;
}

.avatar-user img {
    width: 100%;
    height: auto;
    max-width: 60px;
}

.information-profile {
    padding-left: 15px;
}

.information-profile * {
    font-size: 16px;
}

.information-profile i {
    margin-right: 3px;
}

.stadistics {
    padding-top: 10px !important;
    padding-right: 5px !important;
}

.stadistics-item {
    margin-right: 8px;
    margin-right: 8px;
    border-radius: 10px;
    padding: 5px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #2196f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.stadistics-item * {
    font-size: 14px;
}

.username {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.btn-follow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 105px;
    height: 60px;
    transition: .3s;
}

.btn-follow button {
    font-family: Google-Sans;
    border-radius: 20px;
    font-size: 13px;
}
.main-settings .stadistics-item {
    width: 55px;
}

/* ------------------------------------------ SEARCH PAGE----------------------------------------------------------- */

#person-results {
    display: flex;
    flex-flow: row;
    padding: 10px;
    padding-bottom: 0;
    overflow: auto;
}

.person-item {
    margin: auto;
    margin-top: 0;
    padding-right: 20px;
}

.person-item .img {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.person-item p {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

#movie-show-results {
    padding-top: 10px;
}

/* ------------------------------ HOME STYLES IMPORTANT ------------------------------------------------------------- */
.recommended-poster {
    position: absolute !important;
    bottom: 10px;
    left: 10px !important;
}

.recommended-poster img {
    border-radius: 6px !important;
}

@media only screen and (min-width: 435px) {
    #recommended {
        height: 380px;
    }
}

