<!-- Settings Panel -->
<section id="settings" class="row no-margin">
    <article class="header-settings col s12">
        <h2>Ajustes</h2>
        <div class="close-settings-container">
            <i class="material-icons">close</i>
        </div>
    </article>
    <article class="main-settings col s12">

        <div class="user-item row">
            <div class="information-profile">
                <h1 class="username col s12 no-padding">{{ profile.user.username }}</h1>
                <div class="col no-padding stadistics">
                    <div class="col s4 no-padding">
                        <div class="stadistics-item no-padding deep-purple tooltipped" data-position="bottom" data-tooltip="Películas Vistas">
                            <i class="material-icons">movie</i><span>{{ profile.getMoviesSeen }}</span>
                        </div>
                    </div>
                    <div class="col s4 no-padding">
                        <div class="stadistics-item orange no-padding tooltipped" data-position="bottom" data-tooltip="Series Vistas">
                            <i class="material-icons">subscriptions</i><span>{{ profile.getShowsSeen }}</span>
                        </div>
                    </div>
                    <div class="col s4 no-padding">
                        <div class="stadistics-item teal no-padding tooltipped" data-position="bottom" data-tooltip="Capitulos Vistos">
                            <i class="material-icons">view_carousel</i><span>{{ profile.getEpisodesSeen }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row log-out no-margin">
                <a href="/logout" class="btn">Salir</a>
            </div>
        </div>

        <div class="row no-margin">
            <h3 class="title-section col s6 no-padding">Avatar</h3>
        </div>
        <div class="avatars-container row no-margin">
            {% for avatar in avatars %}
                <div onclick="changeAvatar(this, {{ avatar.id }}, '{{ csrf_token }}')" class="avatar {% if profile.avatar == avatar %}active{% endif %}">
                    <img src="{{ avatar.src }}" />
                </div>
            {% endfor %}
        </div>

        <div class="themes-container row">
            <h3 class="title-section">Tema</h3>

            {% for theme in themes %}
                <a href="/changeTheme/{{ theme.id }}" class="theme col s4 m3 l2">
                    <div class="color-background {% if theme.id == profile.theme.id %} active-theme{% endif %}" style="background-color: {{ theme.bg_color }}">
                        <div class="color-accent" style="background-color: {{ theme.accent_color }}"></div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="row">
            <h3 class="title-section col s12">Asociar géneros a colores</h3>
            <div class="col s12">
                <div class="switch">
                    <label>
                        No
                        <input {% if profile.colorGenres == True %} checked {% endif %} type="checkbox" id="swtColorGenres" onchange="changeColorGenres(this, '{{ csrf_token }}')">
                        <span class="lever"></span>
                        Si
                    </label>
                </div>
            </div>
        </div>
    </article>
</section>


<!-- Button navbar-->
<footer>
    <nav class="bottom-navBar row no-margin">
        <a href="/" id="nav-home" class="col s3">
            <i class="material-icons">home</i>
            <p>Inicio</p>
        </a>
        <a href="/movies" id="nav-movies" class="col s3">
            <i class="material-icons">movie</i>
            <p>Películas</p>
        </a>
        <a href="/shows" id="nav-shows" class="col s3">
            <i class="material-icons">subscriptions</i>
            <p>Series</p>
        </a>
        <a href="/social" id="nav-social" class="col s3">
            <i class="material-icons">group</i>
            <p>Amigos</p>
        </a>
    </nav>
</footer>