<!-- Settings Panel -->
<section id="settings" class="row no-margin">
    <article class="header-settings col s12">
        <h2 class="col s10">Mi Perfil</h2>

        <div class="close-settings-container">
            <i class="material-icons">close</i>
        </div>
    </article>
    <article class="main-settings col s12">

        <div class="user-item row">
            <div class="information-profile">
                <h1 class="username col s12 no-padding">{{ profile.user.username }}</h1>
                <div class="col no-padding stadistics">
                    <div class="col s4 no-padding">
                        <div class="stadistics-item no-padding deep-purple tooltipped" data-position="bottom" data-tooltip="Películas Vistas">
                            <i class="material-icons">movie</i><span>{{ profile.getMoviesSeen }}</span>
                        </div>
                    </div>
                    <div class="col s4 no-padding">
                        <div class="stadistics-item orange no-padding tooltipped" data-position="bottom" data-tooltip="Series Vistas">
                            <i class="material-icons">subscriptions</i><span>{{ profile.getShowsSeen }}</span>
                        </div>
                    </div>
                    <div class="col s4 no-padding">
                        <div class="stadistics-item teal no-padding tooltipped" data-position="bottom" data-tooltip="Capitulos Vistos">
                            <i class="material-icons">view_carousel</i><span>{{ profile.getEpisodesSeen }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row log-out no-margin">
                <a href="/profile/{{ profile.user.id }}" class="col s12 btn waves-effect primary-color stadistics-button">Perfil</a>
            </div>
        </div>

        <div class="row no-margin">
            <h3 class="title-section col s6 no-padding">Avatar</h3>
        </div>
        <div class="avatars-container">

            {% if profile.getImage == "-" %}
                <div id="select_image" class="avatar photo"></div>
                <form style="display:none" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    {{ form.image }}
                </form>
            {% else %}
                <div id="select_image" class="photo-user" style="background-image: url(/{{ profile.image }})"></div>
                <form style="display:none" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    {{ form.image }}
                </form>
            {% endif %}

            {% for avatar in avatars %}
                {% if avatar == profile.avatar %}
                    <div onclick="changeAvatar(this, {{ avatar.id }})" class="avatar {% if profile.avatar == avatar and profile.image == None %}active{% endif %}">
                        <img src="{{ avatar.src }}" />
                    </div>
                {% endif %}
            {% endfor %}

            {% for avatar in avatars %}
                {% if not avatar == profile.avatar %}
                    <div onclick="changeAvatar(this, {{ avatar.id }})" class="avatar {% if profile.avatar == avatar and profile.image == None %}active{% endif %}">
                        <img src="{{ avatar.src }}" />
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <h3 class="title-section row">Tema</h3>

        <div class="themes-container">
            {% for theme in themes %}
                <a href="/changeTheme/{{ theme.id }}" class="theme">
                    <div class="color-background {% if theme.id == profile.theme.id %} active-theme{% endif %}" style="background-color: {{ theme.bg_color }}">
                        <div class="color-accent" style="background-color: {{ theme.accent_color }}"></div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="row">
            <h3 class="title-section col s12">Asociar géneros a colores  <a class="waves-effect waves-light modal-trigger" href="#colorGenresModal"><i class="material-icons">info</i></a></h3>
            <div class="col s12">
                <div class="switch">
                    <label>
                        No
                        <input {% if profile.colorGenres == True %} checked {% endif %} type="checkbox" id="swtColorGenres" onchange="changeColorGenres(this)">
                        <span class="lever"></span>
                        Si
                    </label>
                </div>

            </div>

            <!-- Modal Structure -->
            <div id="colorGenresModal" class="modal">
                <div class="modal-content">
                    <h4>Géneros de colores</h4>
                    <p>Puedes asociar los generos de las películas y series a colores predeterminados para que te sea más sencillo reconocerlos.</p>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
            </div>

        </div>

        <div class="row">
            <h3 class="title-section col s12">Ahorro de Datos  <a class="waves-effect waves-light modal-trigger" href="#celularSavingsModal"><i class="material-icons">info</i></a></h3>
            <div class="col s12">
                <div class="switch">
                    <label>
                        No
                        <input {% if profile.celularDataSavings == True %} checked {% endif %} type="checkbox" id="swtCelularSavings" onchange="changeCelularDataSavings(this)">
                        <span class="lever"></span>
                        Si
                    </label>
                </div>

            </div>

            <!-- Modal Structure -->
            <div id="celularSavingsModal" class="modal">
                <div class="modal-content">
                    <h4>Ahorro de Datos</h4>
                    <p>Activalo para disminuir la calidad de las imágenes y así ahorrar datos.</p>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
            </div>

        </div>

    </article>

    <p class="author">Diseñado por <b>Manuel López Mallorquín</b></p>

    <a href="/logout/" class="btn-floating btn-large waves-effect waves-light red btn-floating-bottom-full"><i class="material-icons">exit_to_app</i></a>

</section>


<!-- Button navbar-->
<footer>
    <nav class="bottom-navBar row no-margin">
        <a href="/" id="nav-home">
            <i class="material-icons">home</i>
            <p>Inicio</p>
        </a>
        <a href="/movies" id="nav-movies" onclick="localStorage.setItem('active_tab', '#movies_popularity')">
            <i class="material-icons">movie</i>
            <p>Películas</p>
        </a>
        <a href="/shows" id="nav-shows" onclick="localStorage.setItem('active_tab', '#shows_popularity')">
            <i class="material-icons">subscriptions</i>
            <p>Series</p>
        </a>
        <a href="/social" id="nav-social">
            <i class="material-icons">group</i>
            <p>Social</p>
            {% if unread_recommendations > 0 %}
                <div class="recommendations-unread">{{ unread_recommendations }}</div>
            {% endif %}
        </a>
        <a href="/profile/{{ profile.user.id }}/" id="nav-profile">
            <i class="material-icons">person</i>
            <p>Perfil</p>
        </a>
    </nav>
</footer>


<!-- Loading Gif -->
<section class="loading-container">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</section>