<header>
    <nav class="header-navBar">

        <div class="nav-wrapper search-field">
            <form>
                <div class="input-field">
                    <input id="search" type="search" placeholder="Introduce el título a buscar" autofocus required>
{#                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>#}
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>

        <div class="header-title">
            <h1 id="title"></h1>
        </div>

        <div class="img-profile-container">
            <div class="img-profile"></div>
        </div>


        <div class="search-container">
            <a>
                <i class="material-icons">search</i>
            </a>
        </div>

    </nav>
</header>
