{% load static %}

<meta charset="UTF-8">
<link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

<!---------------------------------------- Responsive and Theme ------------------------------------------------------->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="white">

<!-- Para que parezca una app nativa de IOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">

<!-- Para que parezca una app nativa de Android -->
<meta name="mobile-web-app-capable" content="yes">

<meta name="mobile-web-app-status-bar-style" content="black-translucent">


<!-- Compiled and minified CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link rel="stylesheet" href="/static/css/general_styles.css">
<link rel="stylesheet" href="/static/css/styles.css">

<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>


<!-- THEMES CONFIGURATION FOR USERS -->
{% if profile.user.is_authenticated %}
    {% if not profile.theme == None %}
        <link rel="stylesheet" href="/static/css/themes/{{ profile.theme.cssFile }}.css">
    {% else %}
        <link rel="stylesheet" href="/static/css/themes/blue_white.css">
    {% endif %}
{% else %}
    <link rel="stylesheet" href="/static/css/themes/blue_white.css">
{% endif %}
