<header>
    <nav class="header-navBar">

        <div class="nav-wrapper search-field">
            <form id="search">
                <div class="input-field">
                    <input id="txt-search" type="search" placeholder="Introduce el título a buscar" autofocus required>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>

        <div class="header-title">
            <h1 id="title"></h1>
        </div>

        <script>
            console.log('{{ profile.getImage }}');
        </script>

        {% if profile.getImage == "-" %}
            <div class="img-profile-container">
                <div class="img-profile"><img src="{{ profile.avatar.src }}" /></div>
            </div>
        {% else %}
             <div class="img-profile-container">
                <div class="img-profile image" style="background-image: url(/{{ profile.image }})"></div>
            </div>
        {% endif %}
        <div class="search-container">
            <a>
                <i class="material-icons">search</i>
            </a>
        </div>

    </nav>
</header>
