/* Session Page */
.input-field .prefix.active {
    color: #ffc107;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #ffc107;
}

form label.active {
    color: #3e3e3e;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #ffc107;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffc107;
    box-shadow: 0 1px 0 0 #ffc107;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #3e3e3e;
}

.btn-submit-login button  {
    background-color: #ffc107;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #ffc107;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #ffc107;
    filter: brightness(90%);
}

.account-change-mode a {
    color: #ffc107;
}

/* ----------------- GENERAL ---------------------------- */
.primary-color {
    background-color: #ffc107;
}

.primary-color {
    color: #ffc107;
}

.article-radius {
    background-color: white;
}

/* ---------------- TOP NAVBAR -------------------------- */
header .header-navBar .img-profile {
    /*box-shadow: 0px 0px 5px 0px #b9b9b9;*/
}

.header-title h1 {
    color: #3e3e3e;
}

.tabs .tab a {
    color: #3e3e3e;
}

.search-container i {
    color: #3e3e3e;
}

/* Navbar Movie */
.header-navBar .btn-back-list i {
    color: #3e3e3e;
}

nav.header-navBar .search-field i {
    color: #3e3e3e !important;
}


/* --------------- BOTTOM NAVBAR ----------- */
nav {
    background-color: white;
}

footer * {
    color: #3e3e3e;
}

footer .nav-active i, footer .nav-active p {
    color: #ffc107;
}

/* --------------- SETTINGS CONTAINER ----------- */
#settings {
    background-color: white;
}

.header-settings {
    background-color: white;
}

#settings .title-section a {
    color: #ffc107;
}

.close-settings-container i {
    color: #3e3e3e;
}

.log-out a {
    background-color: #ffc107;
}

.log-out button:hover {
    background-color: #ffc107;
    filter: brightness(90%);
}

.photo-user {
    border: 3px solid #ffc107;
}

.avatar.active img {
    border: 3px solid #ffc107;
}

.theme .color-background {
    box-shadow: 0px 0px 5px 0px #b9b9b9;
}

.active-theme {
    border: 3px solid #ffc107;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #dadada;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ffc107;
}

.btn-floating.btn-large {
    background-color: #ffc107 !important;
}

/* --------------- TABS ----------- */
.tabs .indicator {
    background-color: #ffc107;
}

.lds-ellipsis div {
    background: #ffc107;
}

/* ------------- HOME STYLES -------------- */
.circle {
    stroke: #ffc107;
}

/* ---------- MOVIE STYLES ---------------- */
.btn-trailer {
    background-color: #ffc107;
}

.genre {
    background-color: #ffc107;
}

.primary-information {
    background-color: white;
}

/* -------- MOVIES STYLES --------------- */
.info-popup-main {
    background-color: white;
}

.info-popup-btn {
    color: #ffc107;
}

/* --------- SHOW STYLES ---------------- */
.season-details {
    background-color: white;
}

.close-season-details {
    background-color: white;
}

.dot1, .dot2 {
    background-color: #333333;
}

#average-count-bar {
    background-color: #ffc107;
}

/* -------------------------------------- SOCIAL PAGE --------------------------------------------------------------- */
.activity-item {
    border-bottom: 1px solid #ddd;
}

.user-item {
    border-bottom: 1px solid #ddd;
}

.username-activity {
    color: #ffc107;
}

.btn-follow button {
    background-color: #ffc107;
}


/* ------------------------------------------ SEARCH PAGE----------------------------------------------------------- */

#person-results {
    border-bottom: 1px solid #f7f7f7
}

.person-item .img {
    box-shadow: 0px 0px 5px 0px #b9b9b9;
}

.person-item p {
    color: #333333;
}

nav.header-navBar .search-field, #search {
    background-color: white;
    color: #3e3e3e;
}